<html>
<link rel="stylesheet" type="text/css" href="<%=url("/product_page.css")%>">

<div class="item_for_sale">
<ul>
<% @products.each do |product| %>
  <li>
  <div class="item_box">
    <h3><%= product.product_name %> <strong>$<%= product.price %></strong></h3>
    <%= product.description %>
    <img src="<%= product.image %>" class="product-img" />
    <legend>Seller:</legend><%= product.seller.capitalize%> 
    <legend>Quantity Available:</legend><%= product.quantity %>
    <form action="/cart/product_add" method="post">
      <input type="hidden" name="product_id_add" value="<%= product.id %>" />
      <input type="hidden" name="avalible_quant" value="<%= product.quantity %>"/>
      <input class ="number" type="number" size="3" name="product_quant"/>
      <input type="submit" value="Add to Cart" />
    </form>  
  </div>
  </li>
<% end %>
</ul>
</div>
</html>